*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;}
a {
    text-decoration: none;
}
ul{
  list-style: none;
}

@font-face {
    font-family: fuentetitulo;
    src: url(../fonts/Poppins-ExtraLight.ttf);
}

#grilla{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}
/*index*/
header{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 8%, rgba(245,143,154,1) 100%);
    grid-area: header;
}
.navbar{
    line-height: 0;
    grid-area: nav;
}
.cuenta_nav{
  display: inline-block;
}
.cuenta{
  position: relative;
  bottom: 250px;
  left: 1250px;
  grid-area: nav;
}
.sesion_item{
  display: inline-block;
  border-radius: 4px;
  background-color: #F58F9A;
  border-radius: 5px;
  color:#3C363B;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.logo{
    width: 50px;
}
.menu {
    text-align: end;
}

.menu__item {
    display: inline-block;
    padding: 1.5rem;
}
.menu_link {
    color: #3C363B;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    text-align: center;
    margin-top: 0%;
    color: black;
    font-size: 40px;
    font-family: Poppins-ExtraLight;
}
.subtitulo {
   text-align: center;
    color: #3C363B;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    grid-area: main;
    display: flex;
}
#section_uno{
  flex-basis: 50vw;
  flex-grow: 1;
  flex-wrap: wrap;
}
#section_dos
 { 
  padding: 2rem;
  flex-basis: 50vw;
  flex-grow: 1;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
  .pregu_uno{
    color: #F58F9A;
    font-size: 20px;
    font-family: Poppins-ExtraLight;
    padding: 10px;
}
.resp_uno{
    color:#3C363B;
    font-size: 15px;
    font-family: Poppins-ExtraLight;
    padding: 5px
}
.preg_dos{
    color:#F58F9A;
    font-size: 20px;
    font-family: Poppins-ExtraLight;
    padding: 5px
}
.resp_dos{
    color:#3C363B;
    font-size: 15px;
    font-family: Poppins-ExtraLight;
    padding: 5px
}
.historia_p{ 
    color:#3C363B;
    font-size: 15px;
    font-family: Poppins-ExtraLight;
    padding: 5px
}
.historia_t{
    color:#F58F9A;
    font-size: 20px;
    font-family: Poppins-ExtraLight;
    padding: 5px
}

/* pagina contacto */

.contacto{
  text-align: center;
  color:#270a0d;
  font-size: 50px;
  font-family: Poppins-ExtraLight

}
.redes__sociales{
    display: inline-block;
    position: relative;
    left: 300px;
    color:#3C363B;
    font-size: 35px;
    font-family: Poppins-ExtraLight;
}
.redes{
  font-size: 5rem;
  display: inline-block;
  position: relative;
  top:100px
}
.whatsapp{
  color: green;
}
.instagram{
  color:#8a3ab9
}
.form{
  display: inline-block;
  position: relative;

        width: 30%;
        color: #fff;
        background: transparent;
        overflow: hidden;
        border-top: 3px solid rgba(241, 83, 215, 0.5);
        border-right: 3px solid rgba(99, 58, 146, 0.5);
        border-bottom: 3px solid rgba(61, 39, 189, 0.5);
        border-left: 3px solid rgba(199, 90, 209, 0.781);
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
      }

      p {
        font-size: 0.95rem;
        text-align: center;
      }

      span {
        position: absolute;
        border-radius: 1vmax;
      }

      .top {
        top: 0;
        left: 0;
        width: 0;
        height: 5px;
        background: linear-gradient(
          90deg,
          transparent 50%,
          rgba(138, 14, 155, 0.5),
          rgb(20, 52, 192)
        );
      }

      .bottom {
        right: 0;
        bottom: 0;
        height: 5px;
        background: linear-gradient(
          90deg,
          rgb(57, 255, 20),
          rgba(57, 255, 20, 0.5),
          transparent 50%
        );
      }

      .right {
        top: 0;
        right: 0;
        width: 6px;
        height: 0;
        background: linear-gradient(
          180deg,
          transparent 30%,
          rgba(156, 22, 156, 0.5),
          rgb(148, 8, 113)
        );
      }

      .left {
        left: 0;
        bottom: 0;
        width: 6px;
        height: 0;
        background: linear-gradient(
          180deg,
          rgb(250, 113, 255),
          rgba(224, 9, 160, 0.5),
          transparent 70%
        );
      }
    .form{
      left: 500px;
      bottom: 0;
        color:#3C363B;
    }
    /*pagina inicio*/
    #body_inicio{
      background-image: url(../image/inicio\ s.jpg);
      background-size: cover;
      background-attachment: fixed;
    }
    .titulo_sesion{
      text-align: center;
      margin-top: 0%;
      color: black;
      font-size: 40px;
      font-family: Poppins-ExtraLight;
    }
    #header_fondo{
      height: 10vh;
    }
    #main_fondo{
      height: 80vh;
    }
    #footer_fondo{
      height: 5vh;
    }
    #iniciar_form{
      font-weight: normal;
      font-family: sans-serif;
      background-color: rgba(0, 0, 0, 0.6);
      width: 90%;
      max-width: 650px;
      margin: auto;
      padding: 5px 35px;
      border-radius: 3px;
    }
  #iniciar_form{
    display: block;
    color: #F58F9A;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }

footer{ 
  display: flex;
  margin-top: 5rem;
  text-align:center;
   height: 10vh;
   background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 8%, rgba(245,143,154,1) 100%);
  grid-area: footer;
}

.copy{
    display: flex;
    justify-content:flex-start;
}



/*destok first*/
@media screen and (max-width:1200px){
    
}
@media screen and (max-width:1024px){
    
}
@media screen and (max-width:768px){

}
@media screen and (max-width:600px){
    
}
@media screen and (max-width:480px){
    
}
@media screen and (max-width:320px){
    
}

















