.mainpedidos {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;

.img-fluid{ 
   padding: 5px;
   margin: 5px;
}
.sectionpedidos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    font-family: $tipo-letra;
    .botonpedido{
        display: flex;
    flex-direction: column;
    margin: 10px;
    
    .btn-outline-light{
        align-self: center;
        @include botonesinicio
    }
}
}
}