body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    @include reset;
}

.headerb {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 8%, rgba(245, 143, 154, 1) 100%);

.logo{
    width: 15px;
}
h1 {
    color: $color-negro;
    font-size: 50px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-family: $tipo-letra;

}
.btn-outline-info{
    --bs-btn-color: #f58f9a;
    --bs-btn-border-color: #f7f7f7;
    --bs-btn-hover-color: #f7f7f700;
    --bs-btn-hover-bg: #ffffff;
    --bs-btn-hover-border-color: #f58f9a;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #0dcaf0;
    --bs-btn-active-border-color: #0dcaf0;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #be97d7;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f58f9a;
    --bs-gradient: none;
}


.subtitulo {
    text-align: center;
    color: $color-negro;
    font-size: 20px;
    font-family: $tipo-letra
}

a {
    text-decoration: none;
}
@include nav-horizontal; 

.tituloxpag {
    text-align: center;
    margin-top: 0%;
    color: $color-negro;
    font-size: 40px;
    font-family:  $tipo-letra;
}
}


.d-main{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    section {
        #section_uno {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .tituloxpag {
            color: $color-negro;
            font-size: 50px;
            text-align: center;
            padding: 5px;
            margin: 5px;
            font-family: $tipo-letra;
        }

        .resp {
            color: $color-negro;
            font-size: 20px;
            font-family: $tipo-letra;
            padding: 5px;
            margin: 15px;
        }

        .preg {
            color: $color-rosa;
            font-size: 30px;
            font-family: $tipo-letra;
            padding: 5px;
            margin: 15px;

        }
    }

    #section_dos {
            padding: 2rem;
            flex-basis: 100vw;
            flex-grow: 1;
            display: flex;
            flex-wrap: wrap;
        }
    


.footerb {
    display: flex;
    margin-top: auto;
    text-align: center;
    height: 10vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 8%, rgba(245, 143, 154, 1) 100%);
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;

    p {
        display: flex;
        justify-content: flex-start;
    }

}