@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body {
    min-height: 100vh;
    @include reset;
}

.headerb {
    display: flex;
    align-items: stretch;
    justify-content: center;
    background: url(../image/sintitulo1.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Comfortaa', cursive;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;


    .textoheader {
        margin: 20px;
        padding: 20px;
        color: $blanco;
        text-shadow: 0 0 8px rgba(0, 0, 0, 1);
    }

    .titulo {
        color: $blanco;
        font-size: 40px;
        text-align: center;
    }

    .subtitulo {
        font-size: 20px;
        text-align: center;
    }

.navbar{
    background-color: #f9ebf2;
    padding: 0%;
    a {
    text-decoration: none;
    color: $color-negro;
}

.btn-outline-info {
    @include navboton;
    img{
        height: 90px;
    }
}
}




@include nav-horizontal;

}




.d-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

    #section_uno {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    #section_dos {
        padding: 10px;
        width: 60%;
        margin: 20px;
    }
  


   
    .tituloxpag {
        color: $color-negro;
        font-size: 50px;
        text-align: center;
        padding: 5px;
        margin: 5px;
        font-family: $tipo-letra;
    }

    .resp {
        color: $color-negro;
        font-size: 20px;
        font-family: $tipo-letra;
        padding: 5px;
        margin: 15px;
    }

    .preg {
        color: $color-rosa;
        font-size: 30px;
        font-family: $tipo-letra;
        padding: 5px;
        margin: 15px;

    }





footer{
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
.carru1{
    width: 1000px;
}
}
   




@media (max-width: 700px) and (min-width: 320px){
    .d-main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }
}