html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(39deg, #fcd7da 50%, #f9ebf2 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
 .headerinicio{
    text-align:center;
    margin: 20px;
  padding: 20px;
  .botoninicio{
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    @include botonesinicio;

    a{ font-family: $tipo-letra;
       text-decoration: none;}
       color: $color-negro;
  }
  .textoheader{
    color: $blanco;
        text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-family: 'Comfortaa', cursive;
    .tituloinicio{
      font-size: 45px;
    }
  }
  }

.titulo_sesion {
  text-align: center;
  margin-top: 0%;
  color: $color-negro;
  font-size: 40px;

}

.forminicio {
  display: flex;
  text-align: center;
  text-align: center;
  color: $color-negro;
  font-family: $tipo-letra;

  font-size: 30px;
  padding: 30px;
  margin: 10px;
  border: 5px;
  flex-wrap: wrap;
  flex-direction: column;
  
  .form-label{
  font-size: 25px;
  }
  .text-divider {
    display: flex;
    align-items: center;
    --text-divider-gap: 1rem; // set a customizable gap between label and lines
  }
  
  .text-divider::before,
  .text-divider::after {
    content: '';
    height: 1px;
    background-color: silver;
    flex-grow: 1;
  }
  
  .text-divider::before {
    margin-right: var(--text-divider-gap);
  }
  
  .text-divider::after {
    margin-left: var(--text-divider-gap);
  }

  .btn-outline-info {
    @include botonesinicio
}

form{
  margin: 10px;
   padding: 5px;}
}

.main-inicio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.footerinicio{
  text-align: center;
  margin:  20px;
  font-size: 1rem;
}


@media (max-width: 700px) and (min-width: 320px){
  .headerinicio .textoheader .tituloinicio {
    font-size: 40px;
}
  .footerinicio{
    font-size: 10px;
  }
}