@mixin reset{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@mixin reseteo-lista{
        list-style: none;
        text-decoration: none;}
@mixin nav-horizontal{
    ul{ @include reseteo-lista}
        li {
        padding: 1.5rem;
        color: $color-negro;
        font-size: 20px;
        font-weight: bold;
        font-family: $tipo-letra;
        }
    }

@mixin flexbox($center, $wrap, $center, $center, $row) {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding: 25px;
}
@mixin git {
    --bs-btn-color: #35163ee3;
    --bs-btn-border-color: $color-rosas;
    --bs-btn-hover-color: $negro;
    --bs-btn-hover-bg: $color-rosa;
    --bs-btn-hover-border-color: $blanco;
    --bs-btn-focus-shadow-rgb: 248,249,250;
    --bs-btn-active-color: $negro;
    --bs-btn-active-bg: $blanco;
    --bs-btn-active-border-color: $violeta;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: $blanco;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: $blanco;
    --bs-gradient: none;
}

@mixin botonesinicio{
    --bs-btn-color: #800a93;
    --bs-btn-border-color: #9f05cb;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #c9acc1;
    --bs-btn-hover-border-color: #b09bb7;
    --bs-btn-focus-shadow-rgb: 13,202,240;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #a796c3;
    --bs-btn-active-border-color: #450d70;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #8d6c97;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #4a2e83;
    --bs-gradient: none;
}

@mixin cardboton{
    --bs-btn-color: #343a40;
        --bs-btn-border-color: #212529;
        --bs-btn-hover-color: #000;
        --bs-btn-hover-bg: #cfb2b5ad;
        --bs-btn-hover-border-color: #f58f9a;
        --bs-btn-focus-shadow-rgb: 13,202,240;
        --bs-btn-active-color: #000;
        --bs-btn-active-bg: #f9ebf2;
        --bs-btn-active-border-color: #f58f9a;
        --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #dbc0c3;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #d9afb3;
        --bs-gradient: none;
}
@mixin navboton{
    --bs-btn-color: #f58f9a;
    --bs-btn-border-color: #f7f7f7;
    --bs-btn-hover-color: #f7f7f700;
    --bs-btn-hover-bg: #ffffff;
    --bs-btn-hover-border-color: #f58f9a;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #0dcaf0;
    --bs-btn-active-border-color: #0dcaf0;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #be97d7;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f58f9a;
    --bs-gradient: none;
}