.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;}


.galeria {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: center; 
    .col{
    width: 20rem;
    margin: 61px;
    padding: 15px;
    font-family: $tipo-letra;
    .card{
        --padding: 1.5rem;
        padding: var(--padding);
        transition: transform 500ms ease;
        text-align: center;
        .card-title{
            position: relative;
            max-width: 100%;
            font-weight: 600;
        
        }
        .card-title::after{
            content:"";
            position: absolute;
            height: 4px;
            left:0;
            bottom: 0;
            width: 100%;
            background: $color-rosa;
           transform: scaleX(0);

           transition: transform 500ms ease;

        }
        .card:hover, .card-title::after{
            transform: scaleX(1);
        }
        .btn-outline-info {
       @include cardboton
    }
    a{
        text-decoration: none;
        color: $color-negro;
    }
    }.card:hover {
    transform: scale(1.15);
    
    }
    } 
    

    }


    @media (max-width: 425px) and (min-width: 320px){
        .tituloxpag{
            font-size: 40px;
        }
        .galeria .col {
            width: 20rem;
            margin: 0px;
            padding: 15px;
        } 
        .row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }




