$color-rosa: #F58F9A;
$color-negro: #3C363B;
$violeta: #8a3ab9;
$blanco:#fff;
$negro: black;
$verde:green;
$white: #fff;
$blue: #1e90ff;
$green: #39d24a;
$yellow: #ffe244;
$pink: #ff36a3;
$tipo-letra: 'Poppins', sans-serif;

